.counter {
    border: 1px solid red;
    max-width: 600px;
    margin: auto;
    margin-top: 15px;
    padding: 30px;
}

.counter button {
    background-color: green;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.counter button:hover {
    background-color: rgb(99, 99, 180);
}

.clockControl {
    text-decoration: underline;
    cursor: pointer;
}